body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#canvas-container {
	width: 100%;
	height: 100%;
}

#diary-canvas {
	width: 100%;
	height: 100%;
	background-color: #a7a7a7; /* Или любой другой желаемый цвет */
	 background-image: 
      linear-gradient(to right, #ccc 1px, transparent 1px),
      linear-gradient(to bottom, #ccc 1px, transparent 1px);
   	background-size: 10px 10px; /* Размер ячейки сетки */
}
